.solid{
    border: solid 5px red;
}

.dotted{
    border: dotted 5px red;
}

div, a{
    height: 50px;
    width: 50px;
    margin: 10px;
    padding: 10px;
}
a{
    display: block;
    background-color: darkorange;
}

#ele_1{
    position: absolute;
    top: 30px;
    left: 50%;
}

#ele_2{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 3;
}
a:hover{
    background-color: darkorchid;
}

#ele_3{
    position: relative;
    bottom: 10px;
    left: 30px;
}

.blue{
    /* width: 100%; */
    background-color: blue;
    z-index: 2;
}
.blue:hover{
    background-color: aqua;
}
.green{
    /* width: 100%; */
    background-color: green;
    z-index: 1;
}
.green:hover{
    background-color: chartreuse;
}